!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.a
*.app
*.d
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.mode1v3
*.mode2v3
*.moved-aside
*.o
*.obj
*.out
*.pbxuser
*.pch
*.perspectivev3
*.slo
*.smod
*.so
*.xccheckout
*.xcscmblueprint
.DS_Store
/*.gcno
DerivedData/
Swift.gitignore
build/
xcuserdata/
